In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Growth conditions.csv')

In [3]:
df

,Crop,Min temp,Max temp,Avg temp,Min Rainfall,Max Rainfall,Avg Rainfall,Soil
0,Rice,22,32,27.0,1500,3000,2250,"Clayey,Loamy"
1,Wheat,15,26,20.5,750,1000,875,"Fertile Loamy,Clayey Loamy"
2,Millets,27,32,29.5,500,1000,750,"Alluvial,Loamy"
3,Grams,20,25,22.5,400,450,425,Loamy
4,Sugarcane,21,27,24.0,750,1500,1125,Rich Loamy
5,Cotton,21,30,25.5,500,1000,750,"Black,Alluvial,Red,Laterite"
6,Oilseeds,20,30,25.0,500,750,625,"Sandy Loamy,Red,Yellow,Black"
7,Tea,20,30,25.0,1500,3000,2250,Well drained Loamy
8,Coffee,15,28,21.5,1500,2500,2000,Well drained Loamy

In [4]:
df.iloc[0,3]
import math

In [5]:
max(df['Avg temp'].values)

29.5

In [6]:
def scale(val,s,l,a = 0, b = 10):
    return (a+((b-a)*((val-s)/(l-s))))

In [8]:
temp = float(input("Enter the temperature - "))
rainfall = float(input("Enter the rainfall - "))*10
tmax = max(df['Avg temp'].values)
tmin = min(df['Avg temp'].values)
rmax = max(df['Avg Rainfall'].values)
rmin = min(df['Avg Rainfall'].values)
temp = scale(temp,tmin,tmax)
rainfall = scale(rainfall,rmin,rmax)
euclid = []
for i in range(len(df)):
    
    dist = math.sqrt(((temp-scale(df.iloc[i,3],tmin,tmax))**2)+((rainfall-scale(df.iloc[i,6],rmin,rmax))**2))
    euclid.append(dist)
minv = min(euclid)
mi = euclid.index(minv)
print(df.iloc[mi,].Crop)

Enter the temperature - 26.193381476956144
Enter the rainfall - 156.5623278531822
Sugarcane