In [29]:
from copy import *
import pandas as pd
import numpy as np
AgroCSV = pd.read_csv('TrimmedAgro.csv')

In [30]:
AgroCSV = AgroCSV.sort_values (by = 'Unnamed: 0')

In [31]:
AgroCSV.head(5)

,Unnamed: 0,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
125330,1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
73052,3,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
93091,4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
53876,5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
39031,7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.0

In [32]:
AgroCSV.rename(columns={'Unnamed: 0':'ID'}, inplace=True)

In [33]:
AgroCSV.head(5)

,ID,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
125330,1,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Arecanut,1254.0,2000.0
73052,3,Andaman and Nicobar Islands,NICOBARS,2000,Kharif,Rice,102.0,321.0
93091,4,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Banana,176.0,641.0
53876,5,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Cashewnut,720.0,165.0
39031,7,Andaman and Nicobar Islands,NICOBARS,2000,Whole Year,Dry ginger,36.0,100.0

In [34]:
AgroTN = AgroCSV.loc[AgroCSV['State_Name'] == 'Tamil Nadu']

In [35]:
AgroTN.tail(5)

,ID,State_Name,District_Name,Crop_Year,Season,Crop,Area,Production
2575,191210,Tamil Nadu,VIRUDHUNAGAR,2013,Whole Year,Gram,18.0,12.0
94491,191211,Tamil Nadu,VIRUDHUNAGAR,2013,Whole Year,Small millets,1187.0,676.0
35517,191213,Tamil Nadu,VIRUDHUNAGAR,2013,Whole Year,Sweet potato,4.0,84.0
46462,191214,Tamil Nadu,VIRUDHUNAGAR,2013,Whole Year,Tapioca,4.0,120.0
5432,191215,Tamil Nadu,VIRUDHUNAGAR,2013,Whole Year,Turmeric,4.0,15.0

In [36]:
Cols = ['District_Name','Season','Crop','Area','Production']

In [37]:
AgroTNCols = AgroTN[Cols]

In [38]:
AgroTNCols.head(10)

       District_Name       Season           Crop     Area  Production
93424       ARIYALUR  Kharif       Small millets    404.0       649.0
46815       ARIYALUR  Whole Year       Arhar/Tur    160.0       122.0
108420      ARIYALUR  Whole Year           Bajra    644.0      1082.0
152982      ARIYALUR  Whole Year          Banana    134.0      5761.0
164967      ARIYALUR  Whole Year       Cashewnut  31188.0      9975.0
150671      ARIYALUR  Whole Year        Coconut     336.0      5200.0
48935       ARIYALUR  Whole Year       Coriander    338.0       134.0
167084      ARIYALUR  Whole Year    Cotton(lint)   4074.0     11033.0
91684       ARIYALUR  Whole Year    Dry chillies   1676.0       608.0
183215      ARIYALUR  Whole Year       Groundnut  13878.0     27002.0

In [39]:
#Dis1_AgroTNCols = AgroTNCols.loc[AgroTNCols['District_Name'] == 'ARIYALUR']
Cols2 = ['Season','Crop','Area','Production']
AgroTNCols = AgroTNCols[Cols2]

In [40]:
len(AgroTNCols)

9752

In [41]:
Sample = AgroTNCols

In [42]:
print (Sample.head(10))
print(len(set(Sample['Season'])))
print(len(set(Sample['Crop'])))
#There are only 3 seasons
#There are 23 crops

             Season           Crop     Area  Production
93424   Kharif       Small millets    404.0       649.0
46815   Whole Year       Arhar/Tur    160.0       122.0
108420  Whole Year           Bajra    644.0      1082.0
152982  Whole Year          Banana    134.0      5761.0
164967  Whole Year       Cashewnut  31188.0      9975.0
150671  Whole Year        Coconut     336.0      5200.0
48935   Whole Year       Coriander    338.0       134.0
167084  Whole Year    Cotton(lint)   4074.0     11033.0
91684   Whole Year    Dry chillies   1676.0       608.0
183215  Whole Year       Groundnut  13878.0     27002.0
3
56

In [43]:
x = Sample.iloc[:, 0:3].values
y = Sample.iloc[:,3].values

In [85]:
#from sklearn.model_selection import train_test_split
#x_train,x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)
#Y is production, X are the other variables

In [44]:
NewData = pd.DataFrame()

In [45]:
NewData['Season']=Sample['Season']
NewData['Crop']=Sample['Crop']
NewData['Area']=Sample['Area']
NewData['Production']=Sample['Production']

In [46]:
NewData.head(5)

             Season           Crop     Area  Production
93424   Kharif       Small millets    404.0       649.0
46815   Whole Year       Arhar/Tur    160.0       122.0
108420  Whole Year           Bajra    644.0      1082.0
152982  Whole Year          Banana    134.0      5761.0
164967  Whole Year       Cashewnut  31188.0      9975.0

In [47]:
LUQCrop = NewData["Crop"].unique()
LUQDname= NewData["Season"].unique()
    
    
LUQCrop1  = [(LUQCrop[i],i+1) for i in range(len(LUQCrop))]
    
LUQDname1  = [(LUQDname[i],i+1) for i in range(len(LUQDname))]
    
CropDictionary={Key:Value for Key,Value in LUQCrop1}
    
SeasonDictionary={Key:Value for Key,Value in LUQDname1}

In [48]:
SeasonDictionary

{'Kharif     ': 1, 'Rabi       ': 3, 'Whole Year ': 2}

In [49]:
NewSeason = [SeasonDictionary[Season] for Season in NewData.Season]

In [50]:
NewData.Season = NewSeason

In [51]:
NewData.head(5)

        Season           Crop     Area  Production
93424        1  Small millets    404.0       649.0
46815        2      Arhar/Tur    160.0       122.0
108420       2          Bajra    644.0      1082.0
152982       2         Banana    134.0      5761.0
164967       2      Cashewnut  31188.0      9975.0

In [52]:
NewCrop = [CropDictionary[Crop] for Crop in NewData.Crop]

In [53]:
NewData.Crop = NewCrop

In [54]:
NewData.head(5)

        Season  Crop     Area  Production
93424        1     1    404.0       649.0
46815        2     2    160.0       122.0
108420       2     3    644.0      1082.0
152982       2     4    134.0      5761.0
164967       2     5  31188.0      9975.0

In [55]:
x = NewData.iloc[:, 0:3].values
y = NewData.iloc[:,3].values

from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [56]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LassoCV
from sklearn.pipeline import make_pipeline

In [79]:
# Alpha (regularization strength) of LASSO regression
lasso_eps = 0.0001
lasso_nalpha=20
lasso_iter=20000
# Min and max degree of polynomials features to consider
degree_min = 2
degree_max = 8
# Test/train split
#X_train, X_test, y_train, y_test = train_test_split(df['X'], df['y'],test_size=test_set_fraction)
# Make a pipeline model with polynomial transformation and LASSO regression with cross-validation, run it for increasing degree of polynomial (complexity of the model)
for degree in range(degree_min,degree_max+1):
    model = make_pipeline(PolynomialFeatures(degree, interaction_only=False), LassoCV(eps=lasso_eps,n_alphas=lasso_nalpha,max_iter=lasso_iter,
normalize=True,cv=5))
    model.fit(x_train,y_train)
    test_pred = np.array(model.predict(x_test))
    RMSE=np.sqrt(np.sum(np.square(test_pred-y_test)))
    test_score = model.score(x_test,y_test)

C:\Anaconda\lib\site-packages\sklearn\linear_model\coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
C:\Anaconda\lib\site-packages\sklearn\linear_model\coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
C:\Anaconda\lib\site-packages\sklearn\linear_model\coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
C:\Anaconda\lib\site-packages\sklearn\linear_model\coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)
C:\Anaconda\lib\site-packages\sklearn\linear_model\coordinate_descent.py:491: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

In [80]:
test_pred

array([ 1368.18499173,  9562.51672029,  2502.11981235, ...,  1738.7063921 ,
        1779.82342566,  3531.78282764])

In [82]:
y_test

array([   22.,   392.,   841., ...,   406.,   789.,  2980.])

In [83]:
RMSE

476075.89294065553

In [84]:
test_score

0.35245693401669231